<%= render "partials/header" %>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
  var locationJSONdata = {
    locations : [
      { name: 'london', count: 3000 },
      { name: 'manchester', count: 500 },
      { name: 'bristol', count: 230 },
      { name: 'Paris', count: 50 }
    ]
  }
</script>

<!-- <canvas id="canvas" width="300" height="300"></canvas>
<script>
  var canvas = document.querySelector("canvas");
  var context = canvas.getContext("2d");
  context.fillStyle = "red";
  context.fillRect(0, 0, 300, 300);
</script> -->

<svg width="720" height="120">
  <circle cx="40" cy="40" r="10"></circle>
  <circle cx="80" cy="40" r="10"></circle>
  <circle cx="120" cy="40" r="10"></circle>
</svg>

<script>
  var locations = locationJSONdata.locations;
  var svg = d3.select("svg");
  var circle = svg.selectAll("circle");
  circle.data(locations.map(function(location) {
    return location.count;
  }));

  var circleEnter = circle.enter().append("circle");
  circleEnter.attr("cy", 60);
  circleEnter.attr("cx", function(d,i) { return i * 100 + 30; });
  circleEnter.attr("r", function(d) { return Math.sqrt(d); });


  // circle.style("fill", "green");
  // circle.attr("r", function(d) { return Math.sqrt(d); });
  // circle.attr("cx", function(d, i) { return i * 100 + 30; });
</script>

<div class="container">
  <div class="jumbotron text-center">
    <h1>Naked Makers</h1>
    <% if flash[:notice] %>
      <div class = 'alert alert-success'><%= flash[:notice]%></div>
    <%end%>
    <div class="text-center">
    <form action = '/responses/new'>
      <input type='submit' value = 'Submit Data' class="btn btn-primary">
    </form>
  </div>
</div>
</div>
