<%= render "partials/header" %>

<script src="https://d3js.org/d3.v4.min.js"></script>

<div class="container">
  <div class="jumbotron text-center">
    <h1>Naked Makers</h1>
    <% if flash[:notice] %>
      <div class = 'alert alert-success'><%= flash[:notice]%></div>
    <%end%>
    <div class="text-center">
      <form action = '/responses/new'>
        <input type='submit' value = 'Submit Data' class="btn btn-primary">
      </form>
    </div>
    <h2>the graph</h2>
    <svg width="720" height="200">
    </svg>
</div>
</div>

<script>
$.ajax({
           type: "GET",
           contentType: "application/json; charset=utf-8",
           url: 'home/location_data',
           dataType: 'json',
           success: function (data) {
               draw(data);
           },
           error: function (result) {
               error();
           }
       });
 function draw(data) {
  var locations = data;
  var svg = d3.select("svg");
  var circle = svg.selectAll("circle")
      .data(locations.map(function(location) {
        return location.count;
      }))
      .enter().append("circle")
      .attr("cy", 80)
      .attr("cx", function(d,i) { return (i+1) * 100 + 30; })
      .attr("r", function(d) { return Math.sqrt(d); })
      .style("fill", "green");

  circle.exit().remove();
  }

  function error() {
    console.log("error")
  }

</script>
