<%= render "partials/header" %>
<div class="container">
  <div class="jumbotron text-center">
    <h1>Naked Makers</h1>
    <% if flash[:notice] %>
      <div class = 'alert alert-success'><%= flash[:notice]%></div>
    <%end%>
    <div class="text-center">
    <form action = '/responses/new'>
      <input type='submit' value = 'Submit Data' class="btn btn-primary">
    </form>
  </div>
</div>
</div>
