<%= render "partials/header" %>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
  var locationJSONdata = {
    locations : [
      { name: 'london', count: 3000 },
      { name: 'manchester', count: 500 },
      { name: 'bristol', count: 230 },
      { name: 'Paris', count: 100 }
    ]
  }
</script>

<div class="container">
  <div class="jumbotron text-center">
    <h1>Naked Makers</h1>
    <% if flash[:notice] %>
      <div class = 'alert alert-success'><%= flash[:notice]%></div>
    <%end%>
    <div class="text-center">
      <form action = '/responses/new'>
        <input type='submit' value = 'Submit Data' class="btn btn-primary">
      </form>
    </div>
    <h2>the graph</h2>
    <svg width="720" height="200">
    </svg>
</div>
</div>

<script>
  var locations = locationJSONdata.locations;
  var svg = d3.select("svg");

  var circle = svg.selectAll("circle")
      .data(locations.map(function(location) {
        return location.count;
      }), function(d) { return d; })
      .enter().append("circle")
      .attr("cy", 80)
      .attr("cx", function(d,i) { return (i+1) * 100 + 30; })
      .attr("r", function(d) { return Math.sqrt(d); })
      .style("fill", "green")

  circle.exit().remove();
</script>
