<head>
<%= render "partials/header" %>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
  var locationJSONdata = {
    children : [
      { name: 'london', count: 3000 },
      { name: 'manchester', count: 500 },
      { name: 'bristol', count: 230 },
      { name: 'Paris', count: 100 }
    ]
  }
</script>
</head>

<body>
<div class="container">
  <div class="jumbotron text-center">
    <h1>Naked Makers</h1>
    <% if flash[:notice] %>
      <div class = 'alert alert-success'><%= flash[:notice]%></div>
    <%end%>
    <div class="text-center">
      <form action = '/responses/new'>
        <input type='submit' value = 'Submit Data' class="btn btn-primary">
      </form>
    </div>
    <h2>the graph</h2>
    <div class ='chart'></div>
</div>
</div>


<script>
var locations = locationJSONdata;
var color = d3.scaleOrdinal(d3.schemeCategory20);
var diameter = 600;
    width = 400;
    height = 300;

var svg = d3.select('.chart')
       .append('svg')
       .attr('width', diameter)
       .attr('height', diameter)
       .attr('class', 'pack')
      //  .append ('g')
      //      .attr('transform', 'translate(50, 50)');

var pack = d3.pack(locations)
    .size([diameter,diameter])
    .padding(1.5);

var nodes = d3.hierarchy(locations)
            .sum(function(d) {
              return d.count; })

var node = svg.selectAll(".node")
          .data(pack(nodes).descendants())
          .enter()
          .filter(function(d){
              return  !d.children
          })
          .append("g")
          .attr("class", "node")
          .attr("transform", function(d) {
              return "translate(" + d.x + "," + d.y + ")";
          });

  node.append('circle')
    .attr('r', function(d) {
      return d.r;
    })
    .style('fill', function(d) {
      return color(d.value);
    });

  node.append("title")
        .text(function(d) {
            return d.data.name + ": " + d.data.count;
           });

  node.append("text")
          .attr("dy", ".3em")
          .style("text-anchor", "middle")
          .text(function(d) {
            return d.data.name + ": " + d.data.count;
          })

d3.select(self.frameElement)
    .style("height", diameter + "px");

</script>
</body>
