<%= render "partials/header" %>
<div class="container">
  <div class="jumbotron text-center">
  <h3>Your data here:</h3>
    <form class="form">
      <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" name="location" class="form-control"></br>
        <label for="languages">Languages:</label>
        <input type="text" name="languages" class="form-control"></br>
        <input type="submit" class="btn btn-primary" value="Submit Response">
      </div>
    </form>
  </div>
</div>
